*{
    margin:0;
    padding:0;
}

html{
    height:100%;
}

body{
    height:100%;
    background-color: #000;
}


.land{
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:25%;
    background-color: #310600;
    z-index:-100px;
}

#canvas{
    position: absolute;
    width:100%;
    height:100%;
    z-index:1;
}

#lava-canvas{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index:5;
}

@media screen and (max-height: 500px){
    #lava-canvas{
        transform:translateY(-20px);
    }
}



